@import './includes/_styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

@import "~bootstrap/scss/bootstrap";

body {
  color: $primary;
  background: $white;

  h1 {
    color: $red;
  }
}

// card profile login
.profile-image {
  position: relative;

  img {
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(34, 34, 34, 0.44);
    transition: all ease 300ms;
  }


}

.login-profilex {
  width: 100px;
  color: inherit;
  padding: .5rem;
  border: solid rgba(34, 34, 34, 0.44) 1px;
  border-radius: 15px;
  background: white;
  text-decoration: none;
  transition: all ease 300ms;


  .label-username {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }

  &:hover {
    background: #222;
    color: white;

    .profile-image img {
      border: 1px solid rgba(212, 212, 212, 0.44);
    }
  }
}

.image-edit {
  position: relative;
  max-width: 150px;
  max-height: 150px;
  aspect-ratio: 1/1;
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid rgba(34, 34, 34, 0.44);
  transition: all ease 300ms;
  overflow: hidden;

  .pp-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .profile-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 15px;
    transition: all ease 300ms;
    opacity: 0;
    z-index: 100;
    cursor: pointer;

    .overlay-message {
      color: white;
      font-weight: 400;
    }
  }

  &:hover {
    .profile-image-overlay {
      opacity: 1;
    }
  }
}

.is-loading-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.27);
  display: flex;
  justify-content: center;
  align-items: center;

  .progress {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle-loader {
      display: block;
      width: 45px;
      height: 45px;
      background: #222;
      border-radius: 50%;
    }
  }
}


.wobble {
  animation: wobble 2s ease infinite;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}